:root {
  --background-color: #ffffff;

  --color-title: #ffffff;
  --color-pre-titel: rgba(157, 164, 189, 0.6);

  --second-color-title: rgba(48, 48, 48, 1);
  --color-text: #555555;
  --second-color-text: #9da4bd;
  --accent-color: rgba(255, 108, 0, 1);
  --link-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}
ul {
  padding-left: 0;
}
button {
  border: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: var(--background-color);
  color: var(--color-text);
}
.list {
  list-style: none;
}
.visually-hiden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: 50%;
  margin: -1px;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.sections {
  padding-top: 120px;
  padding-bottom: 120px;
}
.btn {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.35;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--link-color);
  background: transparent;
  box-sizing: border-box;
  width: 160px;
  height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background: var(--accent-color);
  color: var(--link-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation: heartBeat;
  animation-duration: 2s;
}
.pre-title {
  font-weight: 600;
  font-size: 11;
  line-height: 1.4;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.pre-title::before {
  content: '';
  height: 1px;
  width: 60px;
  background: currentColor;
  justify-content: center;
  margin-right: 20px;
}
/* header */
header {
  display: flex;
  justify-content: center;
}
.header-wrap {
  padding-top: 30px;
  display: flex;
  align-items: center;
  position: absolute;
}

.header-logo {
  margin-right: 130px;
  animation: heartBeat;
  animation-duration: 2s;
}
/* navigation */

.header__site-nav {
  display: flex;
  justify-content: center;
}
.header__item:not(:last-child) {
  margin-right: 30px;
}
.header__text-nav {
  padding: 10px 0;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: var(--link-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts {
  margin-left: auto;
  margin-right: 20px;
}
.contact__link {
  padding: 10px 0;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--link-color);
  margin-right: 40px;
}

/* Hero section */

/* Social network */
.hero__conteiner {
  display: flex;
  height: 680px;
}
.hero__sotial-wraper {
  width: 100px;
  background: var(--background-color);
}
.hero__social {
  position: absolute;
  bottom: 360px;
  width: 100px;
  display: flex;
  transform: rotate(-90deg);
  transform-origin: bottom right;
  gap: 40px;
  
}

.hero__item:first-child::before {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
  letter-spacing: 0.2em;
  align-items: center;
  content: '';
  height: 1px;
  width: 60px;
  background: #303030;
  margin-right: 40px;
  
}
.hero__item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  margin-bottom: 58px;
}

.hero__social-text {
  color: #303030;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* hero contents */

.hero__wraper {
  padding: 272px 0 208px 100px;
  flex-grow: 1;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url('../imgages/slider/Slider-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
  text-transform: uppercase;
  color: var(--color-pre-titel);
  margin-bottom: 20px;
}
.hero__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--color-title);
  margin-bottom: 20px;
}
.hero__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.65;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
  width: 360px;
}

/* About section */

.about__section {
  display: flex;
  padding-right: 100px;
}
.about__items {
  display: flex;
}
.about__photo {
  margin-right: 30px;
}
.about__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
  text-transform: uppercase;
  color: var(--second-color-title);
  margin-bottom: 20px;
}
.about__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--second-color-title);
  margin-bottom: 20px;
}
.about__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.65;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
.about__second-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  margin-bottom: 44px;
}
.about__btn {
  display: block;
  color: var(--second-color-title);
}

/* Prices section */
.prices {
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(../imgages/img.png), linear-gradient(#111319, #111319);
  background-size: cover;
  background-attachment: fixed;
}

.price__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
  text-transform: uppercase;
  color: var(--color-pre-titel);
  margin-bottom: 20px;
}
.price__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--color-title);
  margin-bottom: 44px;
}
.prices__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.65;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
  display: flex;
  margin-bottom: 44px;
}
.prices__bords {
  flex-grow: 1;
}
.prices__bords:first-child {
  margin-right: 30px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices__bords:last-child {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.prices__service {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 20px;
  padding-left: 20px;
}
.prices__service::after {
  content: '';
  height: 1px;
  background: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin: 0 12px;
}
.prices__service > p:last-child {
  order: 1;
}
.prices__service:not(:last-child) {
  padding-bottom: 20px;
}
.prices__service:first-child {
  padding-top: 30px;
}
.prices__service:last-child {
  padding-bottom: 30px;
}
.price__btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--link-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

/* Benefits Section */

.benefits__section {
  display: flex;
}
.benefits__item {
  display: flex;
  margin-left: 100px;
  margin-right: 130px;
}
.benefits__couple-bord:first-child {
  margin-right: 30px;
  margin-bottom: 35px;
}
.benefits__couple-bord:last-child {
  margin-top: 35px;
}
.benefits__bord {
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 135px;
  padding: 20px 24px;
  background: #f7f7f7;
}
.benefits__bord:first-child {
  margin-bottom: 30px;
}
.benefits__number {
  position: relative;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--second-color-title);
  padding-bottom: 6px;
}
.benefits__mark {
  position: absolute;
  top: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: var(--accent-color);
}
.benefits__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
  text-align: center;
  color: var(--second-color-title);
}
.benefits__text-wrap {
  margin-right: 70px;
}
.benefits__pre-title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
  text-transform: uppercase;
  color: var(--second-color-title);
}
.benefits__title {
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--second-color-title);
}
.benefits__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
/* Our barbers section */
.barber__section {
  background: #f7f7f7;
}
.barbers__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
  text-transform: uppercase;
  color: var(--second-color-title);
  margin-bottom: 20px;
}
.barbers__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--second-color-title);
  margin-bottom: 44px;
}
/* Barbers list */
.barbers__list {
  display: flex;
  justify-content: space-between;
}
.barbers__items {
  flex-basis: calc((100% - 60px) / 3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--background-color);
}
.barber__img {
  border-radius: 4px 4px 0px 0px;
}
.barbers__name {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--second-color-title);
}
.barbers__style {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.barbers__contacts {
  display: flex;
  justify-content: center;
}

.barbers__social:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  padding: 12px;
  background: #f7f7f7;
  border-radius: 50%;
  width: 44px;
  display: flex;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Gallery section */

.gallery__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
  text-transform: uppercase;
  color: var(--second-color-title);
  margin-bottom: 44px;
}
.gallery__list {
  display: flex;
  justify-content: space-between;
}
.gallery__items {
  position: relative;
  overflow:hidden;
}

.gallery__text {
  transform: translateY(100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px 15px;
  color: #ffffff;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--color-title);
}
.gallery__items:hover .gallery__text {
  transform: translateY(0);
  opacity: 1;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Booking Contacts section */

.booking-contacts__wrap {
  max-width: 1600px;
  height: 634px;
  display: flex;
  background-color: #191C26;
  margin: 0 auto;
  background-image: url(../imgages/bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.booking__conteiner {
  display: flex;
}
.booking__section {
  width: 50%;
  padding: 130px 0 120px;

}
.booking__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--color-title);
  margin-bottom: 44px;
}

/* Booking Form */
.booking__form {
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.booking__form input {
  width: 270px;
  height: 24px;
  padding-bottom: 8px;
}

.booking__form textarea {
  height: 76px;
  resize: none;
  width: 100%;
}
.form__item {
  color: var(--link-color);
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-pre-titel);
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  
}
.form__item::placeholder {
  color: var(--color-pre-titel);
}
.form__item:hover::placeholder,
.form__item:focus::placeholder {
  color: var(--link-color);
}
.form__item:hover,
.form__item:focus {
  border: none;
  border-bottom: 1px solid var(--link-color);
  outline: none; 
}

/* Contacts section */

.contact__section {
  width: 50%;
  padding: 130px 0 120px 100px;
}
.contact__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--color-title);
  margin-bottom: 40px;
}

.our__contacts > li:not(:last-child) {
  margin-bottom: 20px;
}
.contact__adress {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.65;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
  fill: var(--second-color-text);
  width: 230px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__phone {
  display: flex;
  gap: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.65;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
  fill: var(--second-color-text);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__email {
  display: flex;
  gap: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.65;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
  fill: var(--second-color-text);
  text-decoration: underline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
  text-transform: uppercase;
  color: var(--color-title);
  margin-top: 70px;
  margin-bottom: 20px;
}
.contact__work-time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.65;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
}
/* Footer */
.footer__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 130px;
}
.footer__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
  letter-spacing: 0.2em;
  color: var(--second-color-text);
}
.header__networks {
  display: flex;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: var(--second-color-title);
}
.header__networks::before {
  content: '';
  height: 1px;
  width: 60px;
  background: currentColor;
  margin: auto 40px;
}

.header__list:not(:last-child) {
  margin-right: 40px;
}
.footer__networks {
  text-decoration: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
  letter-spacing: 0.2em;
  color: var(--second-color-title);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 500px;
  height: 650px;
  background: #fff;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.close__button {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #ecebeb;
  color: var(--color-text);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.close__button:hover {
  background: var(--accent-color);
  color: var(--bacground-color);
}

.modal__title {
  text-align: center;
}
.form__element {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.input__wrap {
  position: relative;
}
.form__element svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: var(--color-text) ;
}
.form__element label {
  margin-bottom: 10px;
}
.form__element input {
  border: none;
  height: 30px;
  width: 100%;
  border: 1px solid var(--color-text);
  border-radius: 4px;
  background: #ecebeb;
  padding-left: 45px;
}
.form__element input:hover+svg,
.form__element input:focus+svg {
  fill: var(--accent-color);
}
.form__element:focus-within input {
  outline: none;
  border: 1px solid var(--accent-color); 
}
textarea {
  width: 100%;
  
  resize: none;
  outline: none;
  border: 1px solid var(--color-text);
  border-radius: 4px;
  
}
textarea:focus-within {
  border: 1px solid var(--accent-color); 
}

.form__radio {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}
.form__checkbox {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}
.checkbox__list {
  display: flex;
  align-items: center;
}

.checkbox__custom {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 1px solid var(--color-text);
  border-radius: 2px;
}
.checkbox:checked + label .checkbox__custom {
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.checkbox:checked + label .checkbox__text { 
  color: var(--accent-color);
}
.checkbox__custom svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accept {
  margin-top: 20px;
}
.accept label {
  display: flex;
  align-items: center;
}
.modal__btn {
  margin-top: 30px;
  background: #555555;
  border: none;
}